#container {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    display: grid;
}

.gridElement{
    background-color: cadetblue;
    transition: ease-out 0.4s;
}

.activated{
    background-color: red;
}

